body {
    margin: 0;
    font-family: sans-serif;
    text-align: justify;
    background-color:#1B2937;
    color: white;
}


.floatleft {
    float: left;
}

.floatright {
    float: right;
}

a {
    color: #1DA3F6;
    &:hover {
        color: darken(#1DA3F6, 20%);
    }
}

ul {
    list-style: none;
}

.thumbinner,
.infobox-image {
    width: 100% !important;
    text-align: center;
}

.infobox.infobox-body {
    width: 100% !important;
}

.infobox-title>b {
    font-size: 2em;
    line-height: 1.5em;
}

.loading-spinner {
    width: 100% !important;
    text-align: center !important;
    margin-top: 25vh;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}